body {
    margin: 0px;
}
.merriweather-fonts {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}



.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.herro-banner {
    background-image: linear-gradient(rgba(7, 2, 17, 0.8), rgba(52, 52, 52, 0.347)),url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    color:white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:50px 100px;
    
}


.hero-content h2, h4 {
    margin:10px 0px;
}
.hero-subtitle {
    font-size: 30px;
    font-weight: 200;
    
}

.hero-title {
    font-size: 60px;
}

/* Holidy offer area */

.holiday-offer {
    margin:120px 400px;
    text-align: center;


}


.offer-discount {
    font-size: 80px;
    color: #FF0000;
    font-weight: 900;
    margin-bottom:20px;
}

.offer-tagline {
    color:#FF0000;
    font-size: 22px;
}

.offer-content h3 {
    margin:20px 0px;
}

.offer-category  {
    font-size: 40px;
}
.offer_image_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;   
}

.offer_image_box img {
    width:600px;
    height: 400px;

}



/* midnight party area */

.midnight {
    background-image: linear-gradient(to right, rgba(7, 2, 17, 0.92), rgba(7, 2, 17, 0.002)),
                  url('images/Vectorrr.png');

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin: 50px 100px;
    color: white;
    border-radius: 20px;
    display: flex;
    
}

.midnight_overlay {

    display: flex;
    justify-content: space-around;

    padding: 50px 100px;
    

}

.midight_content {
    width:60%;
    
}

.midnight_image {
    width:40%;
    display: flex;
    justify-content: right;
    align-items: center;
}
.midnight_image img {
    width: 270px;
    
}

.midnight_title {
    font-size: 50px;
    letter-spacing: 8px;
}

.midnight_description  {
    font-weight: 200;
}

.midight_content button {
    background: none;
    color:white;
    border:none;
    font-size: 17px;
    font-weight: 400;
    margin-top:30px;
    cursor: pointer;
}


/* event info */

.event-info {
    background-image: linear-gradient(to bottom, #ff000029, #df6d6d06);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
    border-radius: 20px;
    height: 400px;
}

.event-info-card {
    justify-items: center;
    font-size: 25px;
}

.secondary-color {
    color:#FF0000;
}


/* comming soon section */

.comming-soon {
    display: flex;
    justify-content: space-around;
    margin: 50px 100px;
    gap:50px;

}
.comming-soon-column {
    width:40%;
    
}

.comming-soon-column .middle-img {
    width: 250px;
    height: 250px;
    padding:20px;
    border: 10px solid red;
    border-radius: 50%;

}


.comming-sooon-title {
    font-size: 20px;
    
}
.comming-soon-dis {
    color:#0702117c;
    font-size: 14px;
    font-weight: 200;
}


/* holiday sale area */

.holidy-sale {
    margin:50px 100px;
    
    
} 
.holiday-content {

   justify-items: center;

    
}
.holiday-dis {
    width:800px;
    text-align: center;
}

.holiday-images {
    background-image: url('images/Rectangle\ 2.png');
    
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    margin-top: 100px;

    height: 500px;
    justify-content: space-around;
    align-items: top center;
    
}

.discount-column-img {
    margin-top:0px;
}




.gift-column-img img {
    height:400px;
}


.discount-column-img {
    align-items: top center;
}


.btn-secondary {
    color: #FF0000;

   
}

.holiday-title {
    font-size: 50px;
    font-weight: 900;
}




.holiday-dis {
    font-size: 14px;
    font-weight: 200;
    
}


/* portfolio section */

.portfolio {
    margin:50px 100px;

}

.portfolio-dis {
    width: 700px;
} 

.portfolio-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.portfolio-gallery img {
    width:25%;

}


/* Newsletter area */


.newslatter-area {
    margin: 0px 100px;
    background-color: #df6d6d21;
    border-radius: 20px;
    padding:100px;
    
}

.newslatter-content {
   text-align: center;
   justify-items: center;
}

.newslatter-dis {
    width:60%;
    text-align: center;
    color: #0702116b;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
}

.newslatter-input input {
    padding: 16px 20px;
    width:400px;
    border: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    
}

.newslatter-input button {
    padding: 15px 20px;
    
    margin-left:-4px;
    border:none;
    background-color: #FF0000;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 15px;
    cursor: pointer;
}


/* footer-area */

footer {
    background-color: #070211;
    padding:50px 100px;
    margin-top: 100px;
    
} 

.footer-section {
   margin: 50px 0px 0px 0px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    color:white;
    font-size: 15px;
    font-weight: 200;
    
}


.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-item img {
  width: 20px;
  height: 20px;
}


.footer-social-icon {
    display: flex;
    justify-content: center;
    margin:30px 0;
}

.footer-copy-area {
    display: flex;
    justify-content: space-between;
    color:white;
    margin:20px 0;
    font-weight: 300;
}

.footer-copy-area a {
    text-decoration: none;
    color:white;
}

footer  hr {
    border: none;
    border-top: 1px solid rgba(58, 55, 55, 0.6); 
    
}
